<div class="content">
  <h1 class="error"><%= I18n.t("simplificator_infrastructure.errors.generic.title") %></h1>
  <p class="lead"><%= I18n.t("simplificator_infrastructure.errors.generic.lead") %></p>
  <p><%= I18n.t("simplificator_infrastructure.errors.generic.text").html_safe %></p>
  <p>
    <%= image_tag("simplificator_infrastructure/errors/error_generic.png", class: 'icon')%>
    <br/>
    <%= image_tag('simplificator_infrastructure/errors/logo.png') %>
</div>
